<div class="container d-flex col-6 mx-auto">
    <div class="row min-vh-100 align-content-center">
        <img src="/logo/logo.png" alt="LFG" class="mx-auto col-6">
        <h1 class="w-100 text-center">Welcome to LFG</h1>
        <q class="w-100 text-center font-italic text-muted">Find other player like you to play with</q>
        <a href="/login" class="btn btn-primary  col-6 mx-auto w-50">Login</a>
        <p class="w-100 text-center text-muted">Don't have an account yet? <a href="/signup">Sign up</a></p>
    </div>
</div>